<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <%= render 'layouts/panel_head' %>
      <%= render 'conditions/conditions' %>
      <%= render 'layouts/panel_foot' %>
    </div>
  </div>
</div>
