<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
	<h1>About Heartgrove</h1>
	<hr>
	<h3>Mission</h3>
	<p>The goal of Heartgrove is to provide the best platform for cataloging and sharing health information. 
	</p>
	<hr>
	<h3>Roots</h3>
	<p>Heartgrove was created by James Steininger, a 21 year old college student with a dream of making health records more accessible and useful. James saw room for improvement when  his high school girlfriend suffered a peanut allergy attack, and witnessing the inability of the ER to bring up her medical records in a timely or effective manner. 
	<p>
	<hr>
	<h3>Technology</h3>
	<p>Heartgrove is built on top of open source technologies and cutting-edge web application paradigms, aimed at building the best digital system for archiving and accessing health records. </p>
	<ul>
		<li>Ruby on Rails 4.0</li>
		<li>PostgreSQL</li>
		<li>AWS Photo Bucket</li>
		<li>Heroku</li>
		<li>Devise</li>
		<li>Phusion Passenger</li>
		<li>Bootstrap</li>
		<li>Font Awesome</li>
	</ul>
</div></div>
