<div class="container">
	<h1>About Tabby</h1>
	<hr>
	<h3>Roots</h3>
	<p>Tabby was created by James Steininger, a 21 year old college student with a dream of making health records more accessible and useful. James saw room for improvement after taking his high school girlfriend to the emergency room after a peanut allergy attack, and witnessing the clinic's inability to bring up her medical records in a timely or effective manner. 
	<p>
	<hr>
	<h3>Technology</h3>
	<p>Tabby is built on top of open source technologies and cutting-edge web application paradigms, aimed at building the best digital system for archiving and accessing health records. </p>
	<ul>
		<li>Ruby on Rails 4.0</li>
		<li>PostgreSQL</li>
		<li>AWS Photo Bucket</li>
		<li>Heroku</li>
		<li>Unicorn</li>
		<li>Devise</li>
		<li>Phusion Passenger</li>
		<li>Bootstrap</li>
		<li>Font Awesome</li>
	</ul>
