<div class="container">
  <div class="jumbotron" style="position: relative; margin-top: -10px;">
    <center>
      <%= image_tag "ShorelineLogoColor.png", width: 222 %>
      <h1>Shoreline</h1>
      <h2 class="lead">Shoreline shapes the landscape of healthcare, education, and well-being.</h2>
    </center>
    <div class="row">
      <center>
        <div class="col-md-6">
          <h2>
            <%= fa_stacked_icon "life-ring", base: "circle-", class: "text-default fa-3x" %><br>
            Health
          </h2>
          <h4>A way to stay healthy. Keep your family safe. Be in control. A complete turnaround in healthcare.</h4>
        </div>
        <div class="col-md-6">
          <h2>
            <%= fa_stacked_icon "graduation-cap", base: "circle-", class: "text-default fa-3x" %><br>
            School
          </h2>
          <h4>Putting the student at the center. Shape your own destiny. </h4>
        </div>
      </center>
    </div>
  </div>
</div>
</div>