<div class="container">
  <div class="jumbotron">
    <center>
      <h1>Peace at mind: Shoreline Card</h1>
      <h2>
      </h2>
    </center>
  </div>
  <center>
    <h1>Peace</h1>
    <h4>Jargon</h4>
  </center>
</div>