<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>

  <div class="row">
    <div class="col-md-1 col-md-offset-2">
      <center>
        <h1>
          <p><i class="text-success fa fa-file-o fa-2x"></i></p>
        </h1>
      </center>
    </div>
    <div class="col-md-8">
      <h2 style="padding-top: 20px;">
        1) Fill out your medical record
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 col-md-offset-2">
      <center>
        <h1>
          <p><i class="text-danger fa fa-user-md fa-2x"></i></p>
        </h1>
      </center>
    </div>
    <div class="col-md-8">
      <h2 style="padding-top: 20px;">
        2) Connect to your medical specialists
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 col-md-offset-2">
      <center>
        <h1>
          <p><i class="text-primary fa fa-heartbeat fa-2x"></i></p>
        </h1>
      </center>
    </div>
    <div class="col-md-8">
      <h2 style="padding-top: 20px;">
        3) Update whenever you need to
      </h2>
    </div>
  </div>