<%= render "layouts/navbar" %>

	<div class="jumbotron" style="position: relative; margin-top: -10px;">
		<h1>Tabby</h1>
		<h2>Health Cataloging of the Future</h2>
		<p><%= link_to "Get Started Today!", new_user_registration_path, class: "btn btn-lg btn-default" %>
		</p>

	</div>

<div class="container">
	<div class="row panel panel-default">
		<div class="pane-body">
			<div class="col-md-6">
				<h1>Start building your health portfolio</h1>
			</div>
			<div class="col-md-6">
				<h1><center><i class="fa fa-stethoscope fa-4x"></i></center></h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<h1><center><i class="fa fa-group fa-4x"></i></center></h1>
		</div>
		<div class="col-md-6">
			<h1>Make health a collaborative effort</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<h1>Be in control of your data: anywhere &amp; anytime</h1>
		</div>
		<div class="col-md-6">
			<h1><center><i class="fa fa-list fa-4x"></i></center></h1>
		</div>
	</div>


	<div class="mastfoot">
		<div class="inner">
			<p>Tabby - Health Catalogs managed by <a class="btn btn-sm btn-default btn-link" href="https://twitter.com/jamessteininger">@JamesSteininger</a>
			</div>
		</div>

	</div>

</div>

</div>