<div class="site-wrapper">
      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Tabby</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Introducing: Tabby</h1>
            <p class="lead">Easily share your important catalogs. </p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Signup Today</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Tabby Catalogs managed by <a class="btn btn-sm btn-default btn-link" href="https://twitter.com/jamessteininger">@JamesSteininger</a>
            </div>
          </div>

        </div>

      </div>

    </div>