<div class="homepage site-wrapper">
      <div class="homepage site-wrapper-inner">

      	<%= render "layouts/navbar" %>

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">Introducing: Tabby</h1>
            <p class="lead">Share your important health catalogs. </p>
            <p class="lead">
              <%= link_to "Signup Today", new_user_registration_path, class: "btn btn-lg btn-default" %>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Tabby Catalogs managed by <a class="btn btn-sm btn-default btn-link" href="https://twitter.com/jamessteininger">@JamesSteininger</a>
            </div>
          </div>

        </div>

      </div>

    </div>