<%= render partial: 'layouts/profile_nav', object: @user %>
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1>Sorry, you don't have access to this account.</h2>