<%= render "layouts/navbar" %>

<div class="container">

  <h1>Find A User</h1>
  <% @users.each do |user| %>
  <div class="well">
    <%= avatar_profile_link user, {height: 70}, class: "pull-left media-object", style: "padding-right: 10px;" %>
    <div class="media-body">
      <h2 class="media-heading"><%= user.first_name %></h2>
        <%= link_to "Visit Profile", user, class: "btn btn-link" %>
    </div>
  </div>
  <hr>
  <% end %>
 
</div>
