<%= render "layouts/navbar" %>

<div class="cover-container tabbyapp">
  <hr>
  <div class="starter-template">
    <table>
      <h1>Showing All Users</h1>
      <% @users.each do |user| %>
      <tr>
        <td class="well"><%= user.email %></td>
        <td><%= link_to "Show", user, class: "btn btn-link" %></td>
        <td><%= link_to "Remove", user, class: "btn btn-link", method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
      <% end %>
    </table>
  </div>

</div><!-- /.container -->