<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/sidebar" %>
    </div>
    <div class="col-md-9">
      <%= render 'layouts/panel_head' %>
      <%= render 'medications/medications' %>
      <%= render 'layouts/panel_foot' %>
    </div>
  </div>
</div>