<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">

<p>
<%= @page.name %>
</p>
<p>
Users with this condition:
</p>
<p>
Top cures:
</p>
<%= link_to "Back", pages_path %>
