/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.
*= require_self
* require custom_bootstrap/custom_bootstrap
* require custom_bootstrap/mixins
* require custom_bootstrap/variables
*= require font-awesome
*= require rails_bootstrap_forms
*= require bootstrap-typeahead-rails
*/
@import "bootswatch/readable/variables";
$brand-primary: #396BB8;
$brand-secondary: #88B552;
$brand-info: #88B552;
$brand-warning: #E5BA47;
$brand-danger: #C44432;

//$navbar-inverse-bg: $brand-primary;
//$link-color: $brand-primary;
@import "bootstrap";


//@import "bootswatch/readable/bootswatch";
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

body,html,.row-offcanvas {
  height:100%;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}


body {
  font-family: 'Varela Round', sans-serif;
  padding-top: 60px;

}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Varela Round', sans-serif;
  font-weight: 100;
}





/*!
* Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
* Code licensed under the Apache License v2.0.
* For details, see http://www.apache.org/licenses/LICENSE-2.0.
*/

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  margin-top: 5px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: darken($brand-primary,33);         // background background background background background background background
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 12px;
  line-height: 50px;    // LINE HEIGHT OF SIDEBAR LI           LINE HEIGHT OF SIDEBAR LI      LINE HEIGHT OF SIDEBAR LI
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
  color: #fff;
  .lg {
    color: #fff;
  }
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}




.sidebar-nav li a:hover {
  text-decoration: none;
  color: #111;
  border-right: medium solid #BBB;
  // background: rgba($brand-primary,0.85);
  background: #EEE;        // g bg bg bg bg 
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}


.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #FFF;
  background: none;
}

.sidebar-nav > .sidebar-active a {
  color: #111;
  border-right: medium solid #CCC;
  //background: $brand-primary;
  background: #FFF;
}


// Shadowed
.shadowed {
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.4));
  filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.4));
  filter: url(shadow.svg#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4,
    Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#444')";
}

@import "bootswatch/readable/bootswatch";

h6 {
  font-color: #abc;
}
.label-as-badge {
  border-radius: 1em;
}

.intro-header {
  margin-top: -30px;
  padding-bottom: 10px;
  text-align: center;
  // color: #fff;
  //  background: url(/assets/s.jpg) no-repeat center center;
  //  background-size: cover;
}


.intro-message {
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
}

.intro-message > h1 {
  margin: 0;
  //color: #fff;
  // text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
  //color: #fff;
  // text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}


.network-name {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.content-section-d {
  padding: 100px 0;
  background-color: #f8f8f8;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(/assets/Wetlands2.jpg) no-repeat center center;
  background-size: cover;
}

.banner h2 {color: #fff;
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 3em;
}

.banner ul {color: #fff;
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}




.browser-mockup.with-url:after {
  display: block;
  position: absolute;
  content: '';
  top: -1.6em;
  left: 5.5em;
  width: calc(100% - 6em);
  height: 1.2em;
  border-radius: 2px;
  background-color: white;
}

.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 3px 3px 0 0
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browser-mockup > * {
  display: block;
}

.browser-mockup {
  margin: 2em;
  flex: 1;
}
