/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.
*= require_self
* require custom_bootstrap/custom_bootstrap
* require custom_bootstrap/mixins
* require custom_bootstrap/variables
*= require font-awesome
*= require rails_bootstrap_forms
*= require bootstrap-typeahead-rails
*/
@import "bootswatch/readable/variables";
/*$brand-primary: #396BB8;
$brand-secondary: #88B552;
$brand-info: #88B552;
$brand-warning: #E5BA47;
$brand-danger: #C44432;

$navbar-default-bg: $brand-primary;*/
//$link-color: $brand-primary;
@import "bootstrap";


//@import "bootswatch/readable/bootswatch";
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

body,html,.row-offcanvas {
  height:100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


body {
  font-family: 'Varela Round', sans-serif;
  padding-top: 75px;

}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Varela Round', sans-serif;
  font-weight: 100;
}

.user-sidebar-container {
  margin-top: 0px;
  padding-top: 0px;
  background-color: #333333;
}

#sidebar {
  width: inherit;
  min-width: 90px;
  max-width: 90px;
  height: calc(100% + 00px);
  background-color: #333;
  float: left;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
  margin-top: -10px;
  margin-left: 0px;
}

#main {
  height:100%;
  overflow:auto;
}

.label-condition {
  background-color: #46C4E0;
  color: white;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 10px;
  line-height: 26px;
  font-size: 14px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #CCC;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #FFF;
  background: rgba($brand-primary,0.85);
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}


.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
  //color: #FFF;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #FFF;
  background: none;
}

.sidebar-nav > .sidebar-active a {
  color: #FFF;
  background: $brand-primary;
}


/*
* off Canvas sidebar
* --------------------------------------------------
*/
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 90px);
  }

  .row-offcanvas-left
  {
    left: -90px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}

// Shadowed
.shadowed {
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.4));
  filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.4));
  filter: url(shadow.svg#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4,
    Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#444')";
}

@import "bootswatch/readable/bootswatch";

h6 {
  font-color: #abc;
}
.label-as-badge {
  border-radius: 1em;
}

.intro-header {
  margin-top: -30px;
  padding-bottom: 10px;
  text-align: center;
  // color: #fff;
  //  background: url(/assets/s.jpg) no-repeat center center;
  //  background-size: cover;
}


.intro-message {
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
}

.intro-message > h1 {
  margin: 0;
  //color: #fff;
  // text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
  //color: #fff;
  // text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}


.network-name {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.content-section-d {
  padding: 100px 0;
  background-color: #f8f8f8;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(/assets/Wetlands2.jpg) no-repeat center center;
  background-size: cover;
}

.banner h2 {color: #fff;
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 3em;
}

.banner ul {color: #fff;
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}




.browser-mockup.with-url:after {
  display: block;
  position: absolute;
  content: '';
  top: -1.6em;
  left: 5.5em;
  width: calc(100% - 6em);
  height: 1.2em;
  border-radius: 2px;
  background-color: white;
}

.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 3px 3px 0 0
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}
    
.browser-mockup > * {
  display: block;
}

.browser-mockup {
  margin: 2em;
  flex: 1;
}
