<p>
  <button type="submit" class="btn btn-success btn-block btn-lg" style="font-size: 16px;">
    <%= fa_icon 'check 2x' %><br> Save to my health record
  </button>
  <%= link_to 'Or cancel and go back to profile', user_dashboard_path(current_user), class: 'btn btn-block btn- btn-danger' %>
</p>