<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<%= avatar_profile_link @user, {height: 30}, class: "pull-left media-object", style: "margin: 0px; padding: 0px;" %>
				<h3 style="margin: 2px;">
					<center>
						<%= @user.full_name %>
					</center>
				</h3>
			</div>
			
		</div>
	</div>
</div>