 <div class="cover-container">
  <div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand">Tabby</h3>
      <ul class="nav masthead-nav">
        <li><%= link_to "Home", root_path %></a></li>
        <li class="active"><%= link_to "Profile", users_path %></li>
        <li><a href="#">Communtiy</a></li>
      </ul>
    </div>
  </div>
</div>